@import "https://fonts.googleapis.com/css2?family=Lora&display=swap";


$main-blue: #6495ED;
$main-background:#FAEBD7;
$nav-visited:#FAEBD7;
$link-active:#DEB887;
$other-link-visited:#6495ED;


@mixin text-padding{
    padding-left: 30px;
	padding-top: 10px;
}

main {
	background-color: $main-background;
	padding: 20px;
}
body {
	font-family: 'Helvetica', 'Arial', 'sans-serif';
}
article {
	background-color: white;
	padding: 20px;
	margin: 25px 5px;
	box-shadow: 2px 2px 5px grey;
	h2 {
		a {
			color: black;
			text-decoration: none;
			&:visited {
				color: black;
				text-decoration: none;
			}
			&:active {
				color: $link-active;
			}
			&:hover {
				color: $other-link-visited;
				text-decoration: underline;
			}
		}
	}
	p {
		width: 270px;
		margin: auto;
	}
}
header {
	background-color: $main-blue;
	padding: 20px;
	ul {
		li {
			list-style-type: none;
			text-align: end;
			padding: 10px;
		}
	}
	h1 {
		text-align: end;
		a {
			color: $nav-visited;
			text-decoration: none;
			&:visited {
				color: $nav-visited;
				text-decoration: none;
			}
			&:active {
				color: $link-active;
			}
			&:hover {
				color: white;
				text-decoration: underline;
			}
		}
	}
}
hr {
	background-color: $main-blue;
}
nav {
	a {
		color: $nav-visited;
		text-decoration: none;
		&:visited {
			color: $nav-visited;
			text-decoration: none;
		}
		&:active {
			color: $link-active;
		}
		&:hover {
			color: white;
			text-decoration: underline;
		}
	}
}
a {
	color: $main-blue;
	text-decoration: none;
	&:visited {
		color: $other-link-visited;
		text-decoration: none;
	}
	&:active {
		color: $link-active;
	}
	&:hover {
		text-decoration: underline;
	}
}
h1 {
	font-family: 'Lora';
}
h2 {
	font-family: 'Lora';
}
figure {
	display: block;
	margin: auto;
	text-align: center;
	img {
		width: 200px;
		padding: 10px;
	}
}
@media only screen and (min-width: 600px) {
	body {
		width: 100%;
	}
	header {
		width: 20%;
		height: 1250px;
		float: left;
	}
	main {
		margin-left: 23%;
		height: 1250px;
	}
	article {
		width: 65%;
		margin: 25px auto;
		h2 {
			@include text-padding;
		}
		p {
			width: 80%;
			padding-bottom: 30px;
		}
	}
	.post-date {
		@include text-padding;
	}
}
