@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Indie+Flower&family=Quicksand:wght@300&display=swap');

body{
    margin: 0;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    background-color:#FFFBFA;
}
.randomImage{
    width: 200px;
    height:200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
#learnMore{
    color:black;
    text-shadow: 3px 3px 5px skyblue;
    font-weight: 500;

}


.breeds option{
    background-color: #BBD1EA;  
    font-size: 20px;
}


.img-container{
   background-color: #CAE9FF;
    padding-top:5px;
    padding-bottom: 150px;
    margin: 10px;
    border:1px solid black;
  border-radius: 10px;
  box-shadow: 4px 4px 0 0 black;
}
.dog-img{
    width:240px;
    height: 200px;
   margin: 0;
   border-radius: 10px;
   cursor: pointer;
}

.header{
    text-align: center;
    background-color: #16425B;
    border-radius: 10px;
    padding: 10px;
    width: 95%;
    font-family: 'Amatic SC', cursive;
    
}
.header h1{
    color: white;
    font-size: 50px;
    
}
.breeds{
    background-color:white;
    border: 1px solid black;
    border-radius:5px;
    color:darkblue;
    margin: 10px;
    padding: 10px;
    width: 90%;
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
    cursor: pointer;
}

p{
    font-size: 30px;
    color: #16425B;
}
h2{
    font-size: 40px;
    letter-spacing: 5px;
}

#textDiv{
    background-color: white;
    margin: 35px;
    padding: 10px;
    border-radius: 10px;
}
.breedName{
    background-color: #16425B;
    COLOR:white;
    text-shadow: 3px 3px 5px black;
}

figcaption{
   
    color: darkblue;
    font-size: 20px;
    width: 200px;
   margin-left: 8%;
}

.active{
    border: 2px solid black;
    box-shadow: 3px 3px 0 red;
}

#moreInfo{
   margin-top:200px;
   font-size: 20px;
   padding: 10px;
   border-radius: 10px;
   color: white;
   background-color: #16425B;
   border: 1px solid grey;
   font-family: 'Quicksand', sans-serif;
   box-shadow: 2px 2px 0 grey;
   cursor: pointer;
}
#displayMore{
    display: none;
    font-size: 25px;
    font-family: 'Quicksand', sans-serif;
    margin-top: 50px;
    padding: 20px;
    background-color: white;
}
#displayMore p a:hover{
   color: turquoise;
}
footer{
    background-color: #16425B;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    
}
footer p{
    color: white;
}
footer a:link, footer a:visited {
    color: white;
  
}
#sources ul h2{
    font-size: 40px;
    font-weight: 600;
    
}
#sources ul li{
    font-size: 30px;
    list-style-type: none;
}



/*BIG SCREENS*/

@media only screen and (min-width:426px){
    body{
        min-width: 600px;
        max-width: 800px;
        margin: 0 auto;
       
        
    }
.dog-img{
    margin-left: -5%;
    width: 500px;
    height: 400px;
}
figcaption{
    width: 500px;
    margin: 0;
    font-size: 30px;
}
#learnMore{
    font-size: 45px;
}

.header h1{
    font-size: 60px;
    letter-spacing: 5px;
}
p{
    font-size: 40px;
}
h2{
    font-size: 50px;
}

}