@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');


*{
    font-family: 'Exo 2', sans-serif;
}
#todoTitle{
    color: silver;
    text-shadow: 2px 2px black;
    
}
#board{
    background-color: lavender;
    border: 2px solid grey;
    width: 400px;
    height: 500px;
    text-align: center;
    margin: 50px auto;
    border-radius: 15px;
    box-shadow: 3px 3px 0 lightgray;
}
body{
   text-align: center;

}
.buttons{
    margin: 20px;
  
}
 button{
    padding: 10px;
    background-color: lavenderblush;
    color: darkslateblue;
    border-radius: 10px;
   
}
input{
    height: 30px;
    width: 250px;
}
.addTask{
    background-color: lavenderblush;
    width: 10px;
    height: 10px;
    padding: 10px;
    color: darkslateblue;
    border: 2px solid grey;
    border-radius: 10px;
}
div.close{
    padding: 5px;
    color:lightcoral;
    font-size: 30px;
    margin-left: 200px;
    cursor: pointer;
}
ul{
    float: left;
    cursor: pointer;
    font-size: 18px;
}
ul li{
    list-style-type: none;
    padding: 5px 5px 5px 20px;
    background-color: white;
    border: 1px solid grey;
    border-radius: 10px;
    
}
ul li.checked {
    text-decoration: line-through;
  }
  
