@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');


body{
    text-align: center;
    font-family: 'Exo 2', sans-serif;
   width: 400px;
}
  
  /* Remove margins and padding from the list */
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
   
  }
  
  /* Style the list items */
  ul li {
    cursor: pointer;
    padding: 20px;
    background: lavenderblush;
    transition: 0.2s;
  font-size: 25px;
    border: 2px solid grey;
  }

  /* Darker background-color on hover */
  ul li:hover {
    background: mediumpurple;
    border: 3px solid black;
  }
  
  /* When clicked on, add a background color and strike out text */
  ul li.checked {
    background-color: mediumpurple;
    color: white;
    text-decoration: line-through;
  }
  
  
  /* Style the deleteItem button */
  .deleteItem {
    font-size: 35px;
    padding: 10px;
    float: right;
    
  }
  
  .deleteItem:hover {
    color: red;
  }
  
  .header {
    background-color: lavender;
    padding: 40px;
    color: black;
    text-align: center;
  }

  input {
  width: 250px;
  height: 40px;
  }

  .addBtn {
  padding: 15px;
  background-color: lavenderblush;
  border: 1px solid black;
  border-radius: 5px;
  }

 #completed, #displayAll{
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    font-size: 20px;
 }


/*
@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');


*{
    font-family: 'Exo 2', sans-serif;
}
#todoTitle{
    color: silver;
    text-shadow: 2px 2px black;
    
}
#board{
    background-color: lavender;
    border: 2px solid grey;
    width: 400px;
    height: 500px;
    text-align: center;
    margin: 50px auto;
    border-radius: 15px;
    box-shadow: 3px 3px 0 lightgray;
}
body{
   text-align: center;

}
.buttons{
    margin: 20px;
    
  
}
 button{
    padding: 10px;
    background-color: lavenderblush;
    color: darkslateblue;
    border-radius: 10px;
    cursor: pointer;
    
   
}
input{
    height: 30px;
    width: 250px;
   
}
.addTask{
    background-color: lavenderblush;
    width: 10px;
    height: 10px;
    padding: 10px;
    color: darkslateblue;
    border: 2px solid grey;
    border-radius: 10px;
    cursor: pointer;
}
div.deleteItem{
    padding: 5px;
    color:lightcoral;
    font-size: 30px;
    margin-left: 200px;
    cursor: pointer;
}
ul{
    float: left;
    cursor: pointer;
    font-size: 18px;
}
ul li{
    list-style-type: none;
    padding: 5px 5px 5px 20px;
    background-color: white;
    border: 1px solid grey;
    border-radius: 10px;
    
    
}
#input{
    margin-left:-90px;
}
.deleteBtn{
    margin-left:40px;
}
.checkMarked {
    text-decoration: line-through;
  }
  
*/