@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Yusei+Magic&display=swap');

body{
    background-color: white;
    font-family: Yusei Magic, serif;
    margin: 20px;
}
main{
    background-color: lightcyan;
}
#logo{
    display: block;
    margin-left: auto;
    margin-right: auto 
}
#motto{
    text-align: center;
    font-family: Open Sans;
    font-style: italic;
}
footer{
    text-align: center;
    background-color: lightslategray;
    color: white;
    padding: 0.5px;
}
nav, footer{
      /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#cedce7+0,596a72+88 */
      background: #cedce7; /* Old browsers */
      background: -moz-linear-gradient(top,  #cedce7 0%, #596a72 88%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top,  #cedce7 0%,#596a72 88%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom,  #cedce7 0%,#596a72 88%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#596a72',GradientType=0 ); /* IE6-9 */
}
.main{
    outline: 3px solid powderblue;
}
nav{
    background-color: lightslategray;
    margin: 0;
    padding: 1em;
    display: flex;
    justify-content: center;
    list-style-type: none;
}
nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav button{
    margin: .2rem 2%;
    background-color: transparent;
    border:none;
    font-size: 1.6rem;
    color:  white;
}
nav ul li a{
    display:block;
    padding: .8rem 2%;
    border-top: 2px solid black;
    text-decoration: none;
    color: white;
}
nav ul li a:hover{
    background-color: powderblue;
}
#sec-1{
    position: relative;
    text-align: center;
}

#head-1{

text-align:center;
}
section{
    
    text-align: center;
    padding: 1em;
    margin:20px;
}
#hero{
    height:300px;
    width: 90%;
}
#weather-summary{
    background-color: lightgray;
    opacity: 0.8;
    border-style: 2px solid black;
    text-align: left;
    width: 150px;
    padding: 25px;
    position:absolute;
    top: 15%;
  left: 10%;
    
}
iframe{
    width: 300px;
    height: 200px;
}


@media only screen and (max-width: 600px) {
    li a {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        width: 120px;
    }
    nav ul.hide{
        display:none;
    }
    nav button{
        position: relative;
        display: inline-block;
       
    }
    nav{
       text-align: center;
       
    }
}