@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Yusei+Magic&display=swap');


body{
    background-color: white;
    font-family: Yusei Magic, serif;
    margin: 20px;
   
}

#logo{
    display: block;
    margin-left: auto;
    margin-right: auto 
}
#motto{
    text-align: center;
    font-family: Open Sans;
    font-style: italic;
}
footer{
    text-align: center;
    background-color: lightslategray;
    color: white;
    padding: 0.5px;
}
nav, footer{
      /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#cedce7+0,596a72+88 */
      background: #cedce7; /* Old browsers */
      background: -moz-linear-gradient(top,  #cedce7 0%, #596a72 88%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top,  #cedce7 0%,#596a72 88%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom,  #cedce7 0%,#596a72 88%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#596a72',GradientType=0 ); /* IE6-9 */
      max-width: 100%;
}

nav{
    background-color: lightslategray;
    margin: 0;
    padding: 1em;
    display: flex;
    justify-content: center;
    list-style-type: none;
   
}
nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav button{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: .2rem 2%;
    background-color: transparent;
    border:none;
    font-size: 1.6rem;
    color:  white;
    font-family: Yusei Magic, Open Sans; 
}

nav ul li a{
    display:block;
    padding: .8rem 2%;
    border-top: 1px solid lightgrey;
    text-decoration: none;
    color: white;
    
    
}
nav ul li.active a{
    background-color: rgba(0, 0, 0, 0.1);
    color: lightblue;
}
nav ul li a:hover{
    background-color: powderblue;
}

#head-1{
text-align:center;
}

#friday-banner{
    background-image: url("../Images/sky.jpeg");
    background-repeat: repeat; 
    background-size: cover; 
    border-radius: 10px;
    padding: 10px;
    color: black;
    text-transform: uppercase;
    margin:10px;
    border: 3px groove goldenrod;
}
.cards section img{
    border: 1px solid lightgray;
    background-color: white;
    padding:20px;
    margin:10px;
    
    }

footer{
    padding-bottom: 20px;
}

#header{
    text-align:center;
    font-size: 35px;
}


.cards section{
    border: 2px solid grey;
    text-align: center;
    background-color: aliceblue;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
    
}


picture img{
    padding-top: 10px;
                            /* center image */
    
}
h2{
color: darkcyan;

}
p:nth-child(2){
    font-style: italic;
    color:darkgrey;
    font-size: 15px;
}
#sec-2{
    margin:8px;
}
#summer{
    background-color: lightcyan;
    color:black;
    font-style:normal;
    padding:20px;
    
}

.social-icons{
    list-style-type: none;
    
}
#sec-3{
    background-color: lightcyan;
    margin:10px;
}

iframe{
    width: 300px;
    height: 200px;
    float: left;
}
.social-icons{
    list-style-type: none;
    display:flex;
    
}





@media only screen and (max-width: 767px){
    li a {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    nav ul.hide{
        display:none;
    }
    .clearfix{
        position: relative;
        display: inline-block;
        width: 90%;
    }
    nav button{
        position: relative;
        display: inline-block;
       
    }
    nav{
       text-align: center;
       
    }
    .cards{
        display:grid;
        grid-template-columns: 1fr;
    }
    picture img{
        width: 100%;         
    }
    iframe{
        
        width: 240px;
        padding: 35px;
        margin:25px;
        margin-left:-5px;

    }
    #contact{
        text-align: center;
        padding:10px;
        
    }
  
    .social-icons{
        display: none;
    }

    
}
