@media only screen and (min-width: 992px){


    body, main{
        width: 100%;
    }
    nav ul li a{
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 5px;
      
    }
    #home-hero img{
        width:100%;
        height:380px;
    }
 
    .business-cards{
        width:95%;
        margin: 0 auto;
    }
    #business-1 , #business-2, #business-3{
        width:40%;
    }
    .business-cards p{
        width:250px;
        
    }
    .action p{
        letter-spacing: 2px;
        left:8%; 
       
    }
    .action img{
       margin-left:30%;
       width:400px;
        height:200px;
        
    }
   
    #action-1{
    margin:10px;
   width:600px;
   position:absolute;
   
    }
    #action-2{
        position:relative;
        margin-top:100px;
        margin-left:200px;
        
    }
    .purpose p{
       width:500px;
       left:10%;
       letter-spacing: 2px;
      
      
    }
    .purpose img{
        left:8%;
        width:400px;
        height:200px;
    }
    .events, #city-events{
       width:500px;
       height:220px;
      padding:10px;
       margin: 0 auto;
       margin-top:40px;
       text-align: center;
    }
    .events div, #city-events div{
      width:400px;
      height:200px;
      margin:0 auto;
     padding: 5px;
        
    }
    form{
        padding:20px;
    }

 
.contact-1{

margin-left:8%;
}
#contact-info, #board{
    margin-left: -50%;
    
}


#contact-form fieldset{
  width:400px;
  height:500px;
  position: absolute;
  top: 250px;
  left: 700px;
}
#contact-form textarea{
    width:300px;
    height:200px;
}
.list{
    
    text-align: center;
    justify-content: center;
 width:65%;
   padding:10px;
   margin:auto;
    
 }

 .grid{
    max-width:800px;
    height: 300px;
    
}

 #listButton{
margin-right:80px;
 }


 #mem-key{
margin-left:65%;

 }
 #gallery{
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     grid-template-rows: 1fr 1fr;
     text-align: center;
     
 }
 #contact-home-info{
     display: flex;
     
 }
 #map-home{
     margin-left:40%;
 }
 #address{
     position:absolute;
     margin-left: 10%;
 }
 #number{
     position:relative;
     margin-top:8%;
     margin-left:10%;

 }
 #social{
     margin-top:5%;
     margin-left:7%;
 }
 #social-home{
     margin-top:12%;
     margin-left: -10%;
 }
 #social img, #social-home img{
    width:50px;
    height:50px;
 }
 #denton-intro{
     max-width: 900px;
     margin: 0 auto;
 }
 #veterans{
     max-width: 900px;
     margin: 0 auto;
     margin-bottom: 20px;
 }
 .forecastWeek{
    display: flex;
    justify-content: center;
}


}

/* add 4k screen size */