@media only screen and (min-width: 992px){

    nav ul li a{
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 5px;
      
    }
    #home-hero img{
        width:100%;
        height:380px;
    }
    #social img{
        width:50px;
        height:50px;
    }
    .business-cards{
        width:95%;
        margin: 0 auto;
    }
    #business-1 , #business-2, #business-3{
        width:40%;
    }
    .business-cards p{
        width:250px;
        
    }
    .action p{
        letter-spacing: 2px;
        left:8%; 
       
    }
    .action img{
       margin-left:30%;
       width:400px;
        height:200px;
        
    }
   
    #action-1{
    margin:10px;
   width:600px;
   position:absolute;
   
    }
    #action-2{
        position:relative;
        margin-top:100px;
        margin-left:200px;
        
    }
    .purpose p{
       width:500px;
       left:50%;
       letter-spacing: 2px;
      
      
    }
    .purpose img{
        left:8%;
        width:400px;
        height:200px;
    }
    .events{
       width:500px;
       height:220px;
      padding:10px;
       margin: 0 auto;
       margin-top:40px;
       text-align: center;
    }
    .events div{
      width:400px;
      height:200px;
      margin:0 auto;
     padding: 5px;
        
    }
  

}
/* add 4k screen size */