@media only screen and (min-width: 768px){


    body,main{
        width:100%;
    }
nav button{
    display:none;
}
nav ul li{
    float:left;
    padding:0.2em;
}
nav ul.hide{
  display: block;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
  nav ul li a{
      border:none;
      padding: .8rem 1rem;
  }
  nav ul{
      margin-left: 2%;
  }
  .business-cards{
      width:650px;
      margin: 0 auto;
  }
  #business-1 , #business-2, #business-3{
      width:20%;
  }
  .business-cards p{
      width:150px;
      
  }
  .action{
    
    height:200px;
   padding:20px;
 
  }
  #action-1{
    margin:10px;
   width:300px;
   position:absolute;
   
    }
    #action-2{
        position:relative;
        margin-top:160px;
        margin-left:150px;
    }
    .purpose p{
        position:absolute;
        margin-left:45%;
    }
    .purpose img{
        position: relative;
    }
    .purpose{
        height:200px;
        padding:20px;
    }
    .join-form{
        padding:30px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(7, 100px);
       
    }
.top textarea{
    width: 300px;
    height: 70px;
}
.more textarea{
    
    width:500px;
    height: 200px;
   
}
#comments{
    margin-top:40px;
}
#fname{
grid-column: 1/2;
grid-row: 1/2;

}
#title{
 grid-column: 1/2;
 grid-row: 2/3;
}
#phone{
 grid-column: 1/2;
 grid-row: 3/4;
}
#busadd{
 grid-column: 1/2;
 grid-row: 4/5;
}
#busdesc{
grid-column: 1/2;
grid-row: 5/6;
}
#comments{
grid-column: 1/3;
grid-row: 6/7;

}

#lname{
 grid-column: 2/3;
 grid-row: 1/2;
 margin:0;
}
#email{
 grid-column: 2/3;
 grid-row: 2/3;
}
#busname{
 grid-column: 2/3;
 grid-row: 3/4;
}
#bussite{
 grid-column: 2/3;
 grid-row: 4/5;
}
#mem{
 grid-column: 2/3;
 grid-row: 5/6;
}
.list{
   
    text-align: center;
    justify-content: center;
  
    
 }
 .grid{
  margin:0 auto;
   width:300px;
   height:320px;
   
    
 }
 #gallery{
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-template-rows: 1fr 1fr 1fr;
 }
 #contact-info, #board{
    text-align: center;
}
.forecastWeek{
    display: flex;
    justify-content: center;
}

}