
nav, footer{
    background-color: #333D48;
    margin: 0;
    padding: 5px;
    display: flex;
    justify-content: center;
    list-style-type: none;
   
}
footer{
    padding:20px;
}
footer p{
    color:white;
}
footer a:hover{
    color: #BDD5EA;
}
nav ul{
    font-family: 'Oswald', sans-serif;
    font-size:20px;
    list-style-type: none;
    margin: 0;
    
}
nav button{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 5px;
    background-color: transparent;
    border:none;
    font-size: 20px;
    color:  white;
    font-family: 'Oswald', sans-serif;
}

nav ul li a{
    display:block;
    padding: 10px;
    border-top: 1px solid lightgrey;
    text-decoration: none;
    color: white;
    
    
}

nav ul li a:hover{
    background-color: white;
    color: #A02C02;
    box-shadow: 1px 1px 5px 1px;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    
}
.active{
color:#A02C02;
}

body{
    font-family: 'Raleway' , sans-serif;
    background-color: #BDD5EA;
    
}

main{
    background-color: white;
    width:100%;
    
}
h2, h3{
    font-family: 'Oswald', sans-serif;
}

#heading{
    font-family: 'Oswald' , sans-serif;
    margin-left:150px;
}

#city-heading{
    font-family: 'Raleway', sans-serif;
    margin-left:150px;
}
#logo{
    width:100px;
    height:80px;
    position:absolute;
    margin-left:20px;
   
}
#home-hero img{
    max-width:100%;
}

.business-cards{
    background-color:#333D48;
    display:flex;
    justify-content: center;
    text-align: center;
   margin:50px;
   padding:20px;
   box-shadow: 1px 1px 5px black;

}

#business-1, #business-2, #business-3{
    flex-wrap: wrap;
    border:4px double #A02C02;
    justify-content: center;
    text-align: center;
    padding:30px;
    margin:10px;
    background-color: white;
}
#contact{
    padding:20px;
    
}
#contact-head{
    border-bottom: 2px solid black;
    text-align:center;
}
.business-cards p{
    width:250px;
    margin: 0 auto;
}
.action , .purpose{
    background-color:#BDD5EA;
    display:flex;
    height:200px;
   padding:20px;
   box-shadow: 1px 1px 5px black;
   
  
}
#join-head, #purpose-head, #business-head{
    margin:0;
    display:flex;
    justify-content: center;
    padding-top:30px;
    margin-bottom:20px;
    margin-top:40px;
}
iframe{
    width:300px;
    height:200px;
}
#social img{
    width:50px;
    height:50px;
}
#social img:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
.events{
    background-color:#333D48;
}
.events div{
    background-color: white;
    border:4px double #A02C02;
    
}
.events h2{
    color:#A02C02;
}
#perks , #mem-key{
    padding:20px;
}
form{
    margin:20px;
}
 form input:hover,textarea:hover{
    background-color:ghostwhite;
    box-shadow:0 0 5px grey;
    }

    fieldset{
        background-color: #BDD5EA;
       
    }

form input, #busdesc, #comments, select{
    padding:10px;
  margin:10px 0;
  width:200px;
  border-radius:5px;
 
}
.businesses{
    background-color: #333D48;
}
.businesses section{
    background-color: white;
    border: 4px double #A02C02;
   
}
#key{
    background-color: white;
    border: 3px double black;
    padding:10px;
    width:300px;
}
#key p{
   margin:0 auto;
}
#gold{
    color:darkgoldenrod;
}
#silver{
    color:grey;
}
#bronze{
    color: sienna;
}
#profit{
    color:seagreen;
}
.contact-1 h2{
    border-bottom: 1px solid black;
   margin: auto;
   text-align: center;
   width:70%;
   padding:10px;
}





   
/* ----------------------------------------------------------------------------------------------------*/





@media only screen and (max-width: 767px) {
    body, main{
        width:100%;
       
    }

    li a {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        width: 80%;
       
    }
    nav ul.hide{
        display:none;
    }
    .clearfix{
        position: relative;
        display: inline-block;
        width: 97%;
    }
 
    nav{
       text-align: center;
      
       
    }
 
    .business-cards{
        background-color:#333D48;
        justify-content: center;
       margin:10px;
       padding:5px;
       display: grid;
       grid-template-columns: 1fr;
      
       
    
    }
    .business-cards p{
       max-width: 200px;
       padding:20px;
      
  
  
       
    }

    #business-head{
        margin:0 auto;
        
        justify-content: center;
        padding-top:20px;
        
        
    }
    #business-1, #business-2, #business-3{
        border:4px double #A02C02;
        padding:20px;
        margin:5px;
        background-color: white;
    }
    .action{
        width: 90%;
        height:450px;
      margin:0 auto;
      text-align: center;
      justify-content: center;
    }
    .action img{
        width:280px;
        height:200px;
        position:absolute;
        margin-top:250px;
        

    }
    #join-head{
        padding:10px;
        margin-top:40px;
    }
    #action-1{
        margin:10px;
       width:250px;
       position:absolute;
      
       
       
        }
        #action-2{
            position:relative;
            margin-top:200px;
            margin-left:30px;

            
        }
        .businesses{
           margin: 0 auto;
           text-align: center;
           justify-content: center;
           width:350px;
          padding:5px;
           
        }
        .businesses section{
         margin:10px auto;
          width:300px;
          height:300px;
          
           
        }
       
}