
nav, footer{
    background-color: #333D48;
    margin: 0;
    padding: 5px;
    display: flex;
    justify-content: center;
    list-style-type: none;
   
}
footer{
    padding:20px;
}
footer p{
    color:white;
}
footer a:hover{
    color: #BDD5EA;
}
nav ul{
    font-family: 'Oswald', sans-serif;
    font-size:20px;
    list-style-type: none;
    margin: 0;
    
}
nav button{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 5px;
    background-color: transparent;
    border:none;
    font-size: 20px;
    color:  white;
    font-family: 'Oswald', sans-serif;
}

nav ul li a{
    display:block;
    padding: 10px;
    border-top: 1px solid lightgrey;
    text-decoration: none;
    color: white;
    
    
}

nav ul li a:hover{
    background-color: white;
    color: #A02C02;
    box-shadow: 1px 1px 5px 1px;
    
}
.active{
color:#A02C02;
}

body{
    font-family: 'Raleway' , sans-serif;
    background-color: #BDD5EA;
}
main{
    background-color: white;
    width:100%;
}
h3{
    font-family: 'Oswald', sans-serif;
}

#heading{
    font-family: 'Oswald' , sans-serif;
    margin-left:50px;
}

#city-heading{
    font-family: 'Raleway', sans-serif;
    margin-left:50px;
}
#home-hero img{
    max-width:100%;
}

.business-cards{
    background-color:#BDD5EA;
    display:flex;
    justify-content: center;
   margin:50px;
   padding:20px;

}
#business-head{
    margin:0;
    display:flex;
    justify-content: center;
    margin:10px;
    
}
#business-1, #business-2, #business-3{
    flex-wrap: wrap;
    border:2px solid black;
    text-align: center;
    padding:30px;
    margin:10px;

}





@media only screen and (max-width: 767px) {

    li a {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        width: 100%;
       
    }
    nav ul.hide{
        display:none;
    }
    .clearfix{
        position: relative;
        display: inline-block;
        width: 100%;
    }
 
    nav{
       text-align: center;
       
    }
   
}