@media only screen and (min-width: 768px){
 
    nav button{
        display:none;
    }
    nav ul li{
        float:left;
        padding:0.2em;
    }
  nav ul.hide{
      display: block;
  }
    .clearfix:after {
        content: "";
        display: table;
        clear: both;
      }
      nav ul li a{
          border:none;
          border-right: 1px solid lightgrey;
          padding: .8rem 1rem;
      }
      nav ul{
          margin-left: 2%;
      }
      #logo{
        display: block;
        margin-left: auto;
        margin-right: auto; 
      }
      #friday-banner{
        text-align: center;
     }
     #small-forecast{
        display: none;
    }
    #weather-summary{
        background-color: lightgray;
        opacity: 0.8;
        text-align: left;
        width: 150px;
        padding: 25px;
        position:absolute;
        top: 15%;
      left: 10%;
        
    }
    .card{
      display:flex;
      flex: flex-wrap;
      border: 2px solid black;
      width: 120px;
      height: 100px;
      padding: 10px;
      margin:0;
      background-color:aliceblue;
  }
  .forecastWeek{
      display: flex;
      flex: flex-wrap;
      justify-content: center;
  }
  .card img{
      width:50px;
      height: 80px;
      margin-top:30px;
  }
  #dayofweek1,#dayofweek2,#dayofweek3,#dayofweek4,#dayofweek5{
      font-weight: 600;
      font-size: 20px;
      text-transform: uppercase;
      color:darkslategray;
  }
}